:root {
  /*realtime colors*/
  --clr-text-50: hsl(30, 23%, 95%);
  --clr-text-100: hsl(27, 22%, 90%);
  --clr-text-200: hsl(25, 24%, 80%);
  --clr-text-300: hsl(26, 23%, 70%);
  --clr-text-400: hsl(26, 23%, 60%);
  --clr-text-500: hsl(26, 23%, 50%);
  --clr-text-600: hsl(26, 23%, 40%);
  --clr-text-700: hsl(26, 23%, 30%);
  --clr-text-800: hsl(25, 24%, 20%);
  --clr-text-900: hsl(27, 22%, 10%);
  --clr-text-950: hsl(20, 23%, 5%);

  --clr-background-50: hsl(0, 0%, 95%);
  --clr-background-100: hsl(0, 0%, 90%);
  --clr-background-200: hsl(0, 0%, 80%);
  --clr-background-300: hsl(0, 0%, 70%);
  --clr-background-400: hsl(0, 0%, 60%);
  --clr-background-500: hsl(0, 0%, 50%);
  --clr-background-600: hsl(0, 0%, 40%);
  --clr-background-700: hsl(0, 0%, 30%);
  --clr-background-800: hsl(0, 0%, 20%);
  --clr-background-900: hsl(0, 0%, 10%);
  --clr-background-950: hsl(0, 0%, 5%);

  --clr-primary-50: hsl(24, 20%, 95%);
  --clr-primary-100: hsl(22, 22%, 90%);
  --clr-primary-200: hsl(22, 22%, 80%);
  --clr-primary-300: hsl(22, 22%, 70%);
  --clr-primary-400: hsl(21, 21%, 60%);
  --clr-primary-500: hsl(22, 21%, 50%);
  --clr-primary-600: hsl(21, 21%, 40%);
  --clr-primary-700: hsl(22, 22%, 30%);
  --clr-primary-800: hsl(22, 22%, 20%);
  --clr-primary-900: hsl(22, 22%, 10%);
  --clr-primary-950: hsl(24, 20%, 5%);

  --clr-secondary-50: hsl(60, 20%, 95%);
  --clr-secondary-100: hsl(55, 22%, 90%);
  --clr-secondary-200: hsl(57, 22%, 80%);
  --clr-secondary-300: hsl(56, 22%, 70%);
  --clr-secondary-400: hsl(59, 21%, 60%);
  --clr-secondary-500: hsl(58, 21%, 50%);
  --clr-secondary-600: hsl(59, 21%, 40%);
  --clr-secondary-700: hsl(56, 22%, 30%);
  --clr-secondary-800: hsl(57, 22%, 20%);
  --clr-secondary-900: hsl(55, 22%, 10%);
  --clr-secondary-950: hsl(60, 20%, 5%);

  --clr-accent-50: hsl(72, 20%, 95%);
  --clr-accent-100: hsl(65, 22%, 90%);
  --clr-accent-200: hsl(65, 22%, 80%);
  --clr-accent-300: hsl(65, 22%, 70%);
  --clr-accent-400: hsl(64, 21%, 60%);
  --clr-accent-500: hsl(65, 21%, 50%);
  --clr-accent-600: hsl(64, 21%, 40%);
  --clr-accent-700: hsl(65, 22%, 30%);
  --clr-accent-800: hsl(65, 22%, 20%);
  --clr-accent-900: hsl(65, 22%, 10%);
  --clr-accent-950: hsl(60, 20%, 5%);

  --clr-text: var(--clr-text-950);
  --clr-background: hsl(0, 20%, 99%);
  --clr-primary: var(--clr-primary-500);
  --clr-secondary: hsl(58, 21%, 75%);
  --clr-accent: hsl(65, 21%, 63%);
  --clr-body-background: var(--clr-background-50);
  --clr-nav-background: var(--clr-body-background);

  --ff-base: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  /* https://utopia.fyi/type/calculator/?c=320,16,1.125,1240,20,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --fs-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --fs-1: clamp(1.2656rem, 1.1624rem + 0.5163vw, 1.5625rem);
  --fs-2: clamp(1.4238rem, 1.2397rem + 0.9205vw, 1.9531rem);
  --fs-3: clamp(1.6018rem, 1.3098rem + 1.4602vw, 2.4414rem);
  --fs-4: clamp(1.802rem, 1.3673rem + 2.1734vw, 3.0518rem);
  --fs-5: clamp(2.0273rem, 1.4056rem + 3.1085vw, 3.8147rem);
  --fs-6: clamp(2.2807rem, 1.4154rem + 4.3264vw, 4.7684rem);
  --fs-7: clamp(2.5658rem, 1.385rem + 5.9038vw, 5.9605rem);

  --border-radius: 0.25rem;
  --btn-border-color: var(--clr-background-400);

  --card-max-width: 332px;
  --card-max-height: 462px;
  --detail-max-width: 375px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-text-50: hsl(30, 23%, 95%);
    --clr-text-100: hsl(27, 22%, 90%);
    --clr-text-200: hsl(25, 24%, 80%);
    --clr-text-300: hsl(26, 23%, 70%);
    --clr-text-400: hsl(26, 23%, 60%);
    --clr-text-500: hsl(26, 23%, 50%);
    --clr-text-600: hsl(26, 23%, 40%);
    --clr-text-700: hsl(26, 23%, 30%);
    --clr-text-800: hsl(25, 24%, 20%);
    --clr-text-900: hsl(27, 22%, 10%);
    --clr-text-950: hsl(20, 23%, 5%);

    --clr-background-50: hsl(0, 0%, 95%);
    --clr-background-100: hsl(0, 0%, 90%);
    --clr-background-200: hsl(0, 0%, 80%);
    --clr-background-300: hsl(0, 0%, 70%);
    --clr-background-400: hsl(0, 0%, 60%);
    --clr-background-500: hsl(0, 0%, 50%);
    --clr-background-600: hsl(0, 0%, 40%);
    --clr-background-700: hsl(0, 0%, 30%);
    --clr-background-800: hsl(0, 0%, 20%);
    --clr-background-900: hsl(0, 0%, 10%);
    --clr-background-950: hsl(0, 0%, 5%);

    --clr-primary-50: hsl(24, 20%, 95%);
    --clr-primary-100: hsl(22, 22%, 90%);
    --clr-primary-200: hsl(22, 22%, 80%);
    --clr-primary-300: hsl(22, 22%, 70%);
    --clr-primary-400: hsl(21, 21%, 60%);
    --clr-primary-500: hsl(22, 21%, 50%);
    --clr-primary-600: hsl(21, 21%, 40%);
    --clr-primary-700: hsl(22, 22%, 30%);
    --clr-primary-800: hsl(22, 22%, 20%);
    --clr-primary-900: hsl(22, 22%, 10%);
    --clr-primary-950: hsl(24, 20%, 5%);

    --clr-secondary-50: hsl(60, 20%, 95%);
    --clr-secondary-100: hsl(55, 22%, 90%);
    --clr-secondary-200: hsl(57, 22%, 80%);
    --clr-secondary-300: hsl(56, 22%, 70%);
    --clr-secondary-400: hsl(59, 21%, 60%);
    --clr-secondary-500: hsl(58, 21%, 50%);
    --clr-secondary-600: hsl(59, 21%, 40%);
    --clr-secondary-700: hsl(56, 22%, 30%);
    --clr-secondary-800: hsl(57, 22%, 20%);
    --clr-secondary-900: hsl(55, 22%, 10%);
    --clr-secondary-950: hsl(60, 20%, 5%);

    --clr-accent-50: hsl(72, 20%, 95%);
    --clr-accent-100: hsl(65, 22%, 90%);
    --clr-accent-200: hsl(65, 22%, 80%);
    --clr-accent-300: hsl(65, 22%, 70%);
    --clr-accent-400: hsl(64, 21%, 60%);
    --clr-accent-500: hsl(65, 21%, 50%);
    --clr-accent-600: hsl(64, 21%, 40%);
    --clr-accent-700: hsl(65, 22%, 30%);
    --clr-accent-800: hsl(65, 22%, 20%);
    --clr-accent-900: hsl(65, 22%, 10%);
    --clr-accent-950: hsl(60, 20%, 5%);

    --clr-text: var(--clr-text-100);
    --clr-background: hsl(0, 20%, 1%);
    --clr-primary: var(--clr-primary-400);
    --clr-secondary: hsl(58, 21%, 25%);
    --clr-accent: hsl(65, 21%, 37%);
    --clr-body-background: var(--clr-background-800);
    --clr-nav-background: var(--clr-body-background);
  }
}

body {
  font-size: var(--fs-0);
  font-family: var(--ff-base);
  color: var(--clr-text);
  background-color: var(--clr-body-background);
}

h1 {
  font-size: var(--fs-5);
}

h2 {
  font-size: var(--fs-4);
}

h3 {
  font-size: var(--fs-3);
}

h4 {
  font-size: var(--fs-2);
}

h5 {
  font-size: var(--fs-1);
}

a {
  color: var(--clr-primary);
}

a:hover,
a:focus {
  color: var(--clr-accent);
}

img {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
  height: auto;
  vertical-align: middle;
}

p {
  padding: 0.75rem 0;
}

/* top navigation */

.primary-header {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  background-color: var(--clr-nav-background);
  --gap: 2rem;
}

.nav-wrapper {
  display: flex;
  gap: var(--gap, 2rem);
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  margin-right: auto;
}

.logo {
  text-decoration: none;
  color: inherit;
}

.nav-list {
  display: inline-grid;
  grid-auto-flow: column;
  gap: var(--gap, 2rem);
  text-align: center;
  font-weight: bold;
}

.nav-list .nav-link {
  text-decoration: none;
  padding: 0.4rem 0.6rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
}

.nav-list .active {
  border: 2px solid var(--clr-primary);
  background-color: var(--clr-primary);
  color: var(--clr-body-background);
}

.nav-list .active:hover,
.nav-list a:hover {
  border: 2px solid var(--clr-primary-400);
  background-color: var(--clr-primary-400);
  color: var(--clr-body-background);
}

.nav-actions {
  display: flex;
  gap: 0.85rem;
  align-items: center;
}

.visible-mobile {
  display: none;
}

.visible-desktop {
  display: block;
}

.nav-search {
  width: 17rem;
}

.profile-menu {
  display: none;
  z-index: 1001;
  position: fixed;
  padding: 1rem;
  inset: 3.1rem 0.5rem auto;
  max-width: 20rem;
  background: var(--clr-body-background);
  border-radius: var(--border-radius);
  box-shadow: 0.75rem 0.75rem 0.75rem rgb(0, 0, 0, 0.25);
  margin-left: auto;
}

.profile-menu[data-visible] {
  display: block;
}

/* content area */

.content {
  width: min(100% - 3rem, 90rem);
  margin-inline: auto;
  padding: 1rem;
}

.card-image-wrapper {
  margin: auto;
  width: 100%;
}

/** TODO: card width is not correct for empty cards with short titles **/
.card-image:has(img[src=""]) img {
  padding: 1rem;
  min-height: calc(var(--card-max-height));
}

.card-image {
  margin: auto;
  background: repeating-linear-gradient(
    -45deg,
    var(--clr-body-background),
    var(--clr-body-background) 10px,
    var(--clr-background-700) 10px,
    var(--clr-background-700) 15px
  );
  border-radius: calc(var(--border-radius) * 2);
  border: 4px solid var(--clr-background-700);
}

.card-image:has(img[hx-get]) {
  cursor: pointer;
}

.card-actions button:nth-child(1) {
  border-top: 0;
  border-radius: 0 0 0 var(--border-radius);
  font-size: var(--fs-2);
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  color: var(--clr-background);
}

.card-actions button:nth-child(2) {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 0;
  border-radius: 0;
  line-height: 2;
  background-color: var(--clr-body-background);
  font-size: var(--fs-0);
}

.card-actions button:nth-child(3) {
  border-top: 0;
  border-radius: 0 0 var(--border-radius) 0;
  font-size: var(--fs-2);
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  color: var(--clr-background);
}

.hidden-card {
  width: 100%;
  background-color: transparent;
  z-index: -1;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 2px rgb(0 0 0 / 30%);
  padding: 0.3rem;
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
}

#card-detail {
  background-color: var(--clr-background-700);
  border-left: 2px solid var(--clr-background-800);
  height: 100vh;
  width: var(--detail-max-width);
  padding: 0.5rem;
  overflow-y: auto;
  transition: opacity 0.2s linear;
}

#card-detail.htmx-added {
  opacity: 0;
}

body:has(#card-detail) {
  overflow-y: hidden;
}

#card-detail .close {
  margin-left: auto;
  font-size: var(--fs-2);
}

#card-detail .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#card-detail .header .text {
  padding: 0.5rem 0.25rem;
}

.close:after {
  display: inline-block;
  content: "\00d7"; /* X */
}

.prints {
  margin-top: 0.5rem;
  width: 100%;
}

.prints div:first-child {
  font-weight: bold;
  background-color: var(--clr-primary-600);
  border-top: 2px solid var(--clr-primary-800);
  border-bottom: 2px solid var(--clr-primary-800);
}

.prints div {
  padding: 0.25rem;
  border-bottom: 2px solid var(--clr-primary-800);
}

.prints div:has(a):hover,
.prints .current {
  background-color: var(--clr-background-600);
}

.prints a {
  text-decoration: none;
  color: var(--clr-text);
}

/* mobile */
@media (max-width: 58em) {
  .content {
    width: min(100% - 1rem, 90rem) !important;
  }

  .primary-header {
    --gap: 1rem;
  }

  .primary-navigation {
    display: none;
    z-index: 1001;
    padding: 1rem;
    position: absolute;
    inset: 3.5rem 1rem auto;
    background: var(--clr-body-background);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.15);
    margin-inline: auto;
  }

  /* background overlay to avoid clicks */
  .primary-header[data-overlay]:before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: transparent;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.4));
  }

  body:has(#card-detail),
  body:has(.primary-header[data-overlay]) {
    overflow-y: hidden;
  }

  .nav-list {
    display: grid;
    grid-auto-flow: row;
  }

  .nav-list ul[role="list"] li > a {
    width: 100%;
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .nav-actions {
    margin-right: 3rem;
    width: 100%;
  }

  .nav-actions form,
  .nav-actions .nav-search {
    width: 100%;
  }

  .nav-toggle {
    border: 0;
    background-color: transparent;
    width: 2rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
  }

  .nav-toggle .line {
    transform-origin: center;
  }

  .nav-toggle[aria-expanded="true"] :is(.top, .bottom) {
    y: 45;
  }

  .nav-toggle[aria-expanded="true"] .top {
    rotate: 45deg;
  }

  .nav-toggle[aria-expanded="true"] .middle {
    opacity: 0;
  }

  .nav-toggle[aria-expanded="true"] .bottom {
    rotate: -45deg;
  }

  #sidebar #card-detail {
    z-index: 1001;
    width: 100vw;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
  }

  #card-detail .card-image:has(img[src=""]) img {
    padding: 1rem;
  }

  #card-detail .close {
    font-size: var(--fs-3);
  }

  .content .card-actions button:nth-child(1),
  .content .card-actions button:nth-child(3) {
    font-size: var(--fs-3);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .content .card-actions button:nth-child(2) {
    font-size: var(--fs-3);
  }

  .visible-desktop {
    display: none !important;
  }

  .visible-mobile {
    display: block;
  }
}

/* Component classes */

[type="button"]:not(:disabled),
[type="submit"]:not(:disabled),
.btn:not(:disabled):not(.btn-text-only),
button:not(:disabled) {
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-align: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--btn-border-color);
  background-color: var(--btn-bg);
  color: var(--clr-text);
  padding: 0.375rem 0.75rem;
  text-decoration: none;
  font-weight: normal;
}

label.btn {
  vertical-align: bottom;
}

.btn-small {
  font-size: var(--fs-0);
  padding: 0.208rem 0.4rem;
  /* padding: 0.185rem 0.40rem; */
}

.btn:hover:not(:disabled):not(.btn-text-only),
.btn:focus-visible:not(.btn-text-only) {
  background-color: var(--btn-bg-hover);
  color: var(--btn-color-hover, var(--clr-background-900));
}

.btn-profile {
  border-radius: 50%;
  padding: 0.75rem;
  border: 2px solid var(--clr-primary);
  --btn-color-hover: var(--clr-body-background);
}

.btn-profile[aria-expanded="true"] {
  background-color: var(--btn-bg-hover);
  color: var(--btn-color-hover);
}

.btn-default {
  --btn-bg: transparent;
  --btn-bg-hover: var(--clr-background-100);
}

.btn-primary {
  --btn-bg: var(--clr-primary);
  --btn-border-color: var(--clr-primary-500);
  --btn-bg-hover: var(--clr-primary-500);
}

.btn-secondary {
  --btn-bg: var(--clr-secondary);
  --btn-border-color: var(--clr-secondary-200);
  --btn-bg-hover: var(--clr-secondary-200);
}

.btn-text-only {
  cursor: default !important;
}

.btn-icon {
  fill: var(--btn-bg);
  stroke: var(--clr-text);
}

.btn-icon:hover:not(:disabled) {
  stroke: var(--btn-color-hover, var(--clr-background-900));
  fill: var(--btn-bg-hover);
}

.btn-small.btn-icon {
  padding: 0.145rem 0.4rem;
}

.btn-icon svg {
  width: 26px;
  height: 26px;
}

.btn-outline-primary {
  --btn-bg: tranparent;
  --btn-border-color: var(--clr-primary);
  --btn-bg-hover: var(--clr-primary-500);
}

.btn-outline-secondary {
  --btn-bg: transparent;
  --btn-border-color: var(--clr-secondary);
  --btn-bg-hover: var(--clr-secondary-300);
}

.btn-group {
  display: inline-flex;
}

.btn-group > .btn {
  flex: 1 1 auto;
}

input {
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--btn-border-color);
  line-height: 1.4;
}

input:focus-visible {
  border-color: var(--clr-secondary);
  outline: 0;
  box-shadow: 0 0 0 0.15rem var(--clr-accent);
}

input::placeholder {
  color: var(--btn-border-color);
  opacity: 0.9;
}

/* Utility classes */

.visually-hidden {
  display: none;
}

.pb-2 {
  padding-bottom: 1rem;
}

.fw-bold {
  font-weight: bold;
}

.no-padding {
  padding: 0;
}

.w-100 {
  width: 100%;
}

.fs-small {
  font-size: var(--fs-0);
}

.w-max-content {
  max-width: fit-content;
}

.grid-auto-fit {
  --grid-min-col-size: var(--card-max-width);
  --grid-min-col-size-calc: min(100%, var(--grid-min-col-size));

  display: grid;
  grid-auto-flow: dense;
  gap: var(--gap, 1rem);

  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--grid-min-col-size-calc), 1fr)
  );
}

.badge {
  background-color: var(--clr-primary);
  padding: 2px 5px;
  text-align: center;
  border-radius: 0.5rem;
  font-size: smaller;
  margin: 0 0.2rem;
}
